@use "sass:color";
$fg: #E8E3E3;
$bg: #151515;
$accent: #8aa6a2;
$radius: 7px;
$bg: #151515;
$red: #B66467;
$green: #8C977D;
$yellow: #D9BC8C;
$blue: #8DA3B9;
$purple: #A988B0;
$cyan: #8AA6A2;
$pink: #A988B0;
$orange: #D9BC8C;

* {
  all: unset;
}

window.Bar {
  font-family: "Fira Sans";
  font-weight: 300;
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;

  .nixos {
    background-color: transparent;
  }

  icon {
    color: $accent;
    font-size: 1.5em;
    margin: 0 0.3em 0 0.3em;
  }

  .Battery {
    margin-right: 1em;
  }

  label {
    color: $accent;
    margin: 5px;
  }


  .clock {
    margin: 0.5em 0 0.5em 0;
    font-weight: 600;
  }

  .date {
    color: darken($green, 20%);
    font-family: "Victor Mono";
    font-style: italic;

    font-weight: 800;
    font-size: .9em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .time {
    color: lighten($green, 10%);
    font-size: 1.2em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }


  .Workspaces {
    margin: 1em 1em 1em 1em;

    button {
      all: unset;
      background-color: transparent;

      &:hover label {
        background-color: color.adjust($fg, $alpha: -0.84);
      }

      &:active label {
        background-color: color.adjust($fg, $alpha: -0.8)
      }
    }

    label {
      color: $red;
      transition: 200ms;
      padding: 0 8px;
      margin: 2px;
      border-radius: 0px;
      border: 1pt solid transparent;
    }

    .focused label {
      color: $yellow;
    }
  }

  .SysTray {
    margin-right: 8px;

    button {
      padding: 0 4px;
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media .Cover {
    label {
      color: cyan;
    }

    color: #d9bc8c;
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }


  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-right: .6em;
    }

    & {
      margin: 0 1em;
    }

    trough {
      background-color: color.adjust($fg, $alpha: -0.8);
      border-radius: $radius;
    }

    highlight {
      background-color: $accent;
      min-height: .8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -.2em;
    }

  }
}
