* {
  all: unset;
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono, FontAwesome;
  font-size: 15px;
  margin: 0;
  padding: 0;
  min-height: 0px;
}

#waybar {
  background: #161616;
  color: #161616;
}

#backlight-slider {
  background-color: #3a3a3a;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  color: aqua;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-height: 5px;
  min-width: 50px;
  border-radius: 5px;
  background-color: #151515;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #8da3b9;
}

#custom-cap-left {
  color: #8da3b9;
  background-color: #3a3a3a;
}

#custom-cap-left.lighterblue {
  color: #8da3b9;
  background-color: #3a3a3a;
}

#custom-cap-left-end {
  color: #3a3a3a;
  background-color: #161616;
}

#custom-gap {
  color: #151515;
  background-color: #8da3b9;
}

#custom-gap.endcap {
  color: #8da3b9;
  background-color: #151515;
}

#custom-gap-right {
  color: #151515;
  background-color: #a988b0;
}

#custom-gap-right.dark {
  color: #a988b0;
  background-color: #151515;
}

#custom-cap-left.dark {
  color: #3a3a3a;
  background-color: #151515;
}

#custom-cap-left.dark-orange {
  color: #3a3a3a;
  background-color: #8da3b9;
}

#custom-cap-right {
  color: #a988b0;
  background: #3a3a3a;
}

#custom-cap-right.dark {
  color: #3a3a3a;
  background: #a988b0;
}

#custom-weather,
#custom-logo {
  padding-left: 10px;
  color: #151515;
  background: #8da3b9;
}

#custom-power {
  padding-left: 10px;
  color: #151515;
  background: #8da3b9;
  padding-right: 10px;
}

#custom-lock {
  padding-left: 10px;
  padding-right: 10px;
  color: #151515;
  background: #8da3b9;
}

#temperature,
#memory,
#pulseaudio,
#custom-vpn,
#disk,
#battery {
  color: #82cfff;
  background: #3a3a3a;
  padding-left: 10px;
  padding-right: 10px;
}

#wireplumber {
  color: #a988b0;
  background: #3a3a3a;
  padding-left: 10px;
  padding-right: 10px;
}

#mpris {
  color: #a988b0;
  background: #3a3a3a;
  padding-left: 10px;
  padding-right: 10px;
}

#window {
  color: #8da3b9;
  background: #3a3a3a;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces {
  color: #3ddbd9;
  background: #3a3a3a;

  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  background: #a988b0;
  color: #151515;
  padding-left: 10px;
  padding-right: 10px;
}

#clock.clock2 {
  background: #3a3a3a;
  color: #a988b0;
  padding-right: 10px;
  padding-left: 10px;
}

#network {
  background: #8da3b9;
  color: #151515;
  padding-left: 10px;
  padding-right: 10px;
}

#network.right {
  background: #a988b0;
  color: #151515;
  padding-left: 10px;
  padding-right: 10px;
}

#bluetooth {
  background: #8da3b9;
  color: #151515;
  padding-left: 10px;
  padding-right: 10px;
}

#user {
  font-family: "Monaspace Radon", monospace;
  color: #151515;
  padding-left: 7px;
  background-color: #8da3b9;
}

#submap {
  color: #8da3b9;
  font-family: "Jetbrains Mono", monospace;
  font-style: italic
}

#submap.insert {
  background-color: #161616;
  color: #ff7eb6;
  font-family: "JetBrains Mono";
  font-style: italic
}

group-submap {
  background-color: #161616;
  color: #a988b0;
}
