* {
  all: unset;
  font-family: JetBrainsMono, FontAwesome;
  font-size: 16px;
  padding: 0px 5px 0px 5px;
  margin: 1px 3px 1px 3px;
}

#workspaces {
  color: #f2f4f8;
  background: #262626;
  padding-left: 0px;
  margin-left: 0px;
}

#clock.clock2 {
  background: #262626;
  color: #ee5396;
}

#clock {
  background: #262626;
  color: #33b1ff;
}

#network {
  color: #82cfff;
  background: #262626;
}

#submap {
  color: #78a9ff;
  background-color: #262626;
}

#submap.INSERT {
  background-color: #262626;
  color: #ff7eb6;
}

#battery {
  background-color: #262626;
  color: #f2f4f8;
}
